
@{
    ViewData["Title"] = "PageElements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Begin main content -->
<section class="container">
    <h2 class="hidden-title">Page-elements</h2>

    <div class="row">
        <div class="col-md-12">
            <h3 class="decorative-lines decorated-title-margin--lg text-center"><span class="decorated-title">Accordion</span></h3>
        </div>
    </div>

    <!-- Begin accordions -->
    <div class="row">
        <!-- Accordion 1-->
        <div class="col-sm-4">
            <div class="panel-group accordion" id="accordion">
                <!-- Accordion item -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <span class="marker"></span>
                                Article title goes here
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse in" id="collapseOne">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet quam augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                    </div>
                </div>
                <!-- End accordion item -->
                <!-- Accordion item -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                <span class="marker"></span>
                                Article title goes here
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseTwo">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet quam augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                    </div>
                </div>
                <!-- End accordion item -->
                <!-- Accordion item -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                <span class="marker"></span>
                                Article title goes here
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseThree">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet quam augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                    </div>
                </div>
                <!-- End accordion item -->
                <!-- Accordion item -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                <span class="marker"></span>
                                Article title goes here
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseFour">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet quam augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                    </div>
                </div>
                <!-- End accordion item -->
            </div>
        </div>
        <!-- End accordion 1-->
        <!-- Accordion 2 (secondary)-->
        <div class="col-sm-4">
            <div class="panel-group accordion accordion--secondary" id="accordion2">
                <!-- Accordion item -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
                                <span class="marker"></span>
                                Article title goes here
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse in" id="collapseFive">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet quam augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                    </div>
                </div>
                <!-- End accordion item -->
                <!-- Accordion item -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
                                <span class="marker"></span>
                                Article title goes here
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseSix">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet quam augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                    </div>
                </div>
                <!-- End accordion item -->
                <!-- Accordion item -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
                                <span class="marker"></span>
                                Article title goes here
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseSeven">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet quam augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                    </div>
                </div>
                <!-- End accordion item -->
                <!-- Accordion item -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">
                                <span class="marker"></span>
                                Article title goes here
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseEight">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet quam augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                    </div>
                </div>
                <!-- End accordion item -->
            </div>
        </div>
        <!-- End accordion 2 (secondary)-->
        <!-- Accordion 3 (mixed)-->
        <div class="col-sm-4">
            <div class="panel-group accordion accordion--mixed" id="accordion3">
                <!-- Accordion item -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion3" href="#collapseNine">
                                <span class="marker"></span>
                                Article title goes here
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse in" id="collapseNine">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet quam augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                    </div>
                </div>
                <!-- End accordion item -->
                <!-- Accordion item -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapseTen">
                                <span class="marker"></span>
                                Article title goes here
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseTen">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet quam augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                    </div>
                </div>
                <!-- End accordion item -->
                <!-- Accordion item -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapseEleven">
                                <span class="marker"></span>
                                Article title goes here
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseEleven">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet quam augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                    </div>
                </div>
                <!-- End accordion item -->
                <!-- Accordion item -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapseTwelve">
                                <span class="marker"></span>
                                Article title goes here
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseTwelve">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet quam augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                    </div>
                </div>
                <!-- End accordion item -->
            </div>
        </div>
        <!-- End accordion 3 (mixed)-->
    </div>
    <!-- End accordions -->
    <!-- Begin alerst -->
    <div class="row">
        <div class="col-md-12">
            <h3 class="decorative-lines decorated-title-margin text-center"><span class="decorated-title">Alert boxes</span></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="alert alert-danger alert-dismissable">
                <button class="close" data-dismiss="alert" type="button" aria-hidden="true">&times;</button>
                Error! Nullam sed augue id dolor
            </div>
        </div>
        <div class="col-sm-3">
            <div class="alert alert-warning alert-dismissable">
                <button class="close" data-dismiss="alert" type="button" aria-hidden="true">&times;</button>
                Notice! Nullam sed augue id dolor
            </div>
        </div>
        <div class="col-sm-3">
            <div class="alert alert-info alert-dismissable">
                <button class="close" data-dismiss="alert" type="button" aria-hidden="true">&times;</button>
                Info. Nullam sed augue id dolor
            </div>
        </div>
        <div class="col-sm-3">
            <div class="alert alert-success alert-dismissable">
                <button class="close" data-dismiss="alert" type="button" aria-hidden="true">&times;</button>
                Success! Nullam sed augue id dolor
            </div>
        </div>
    </div>
    <!-- End alerst -->
    <!--Begin buttons-->
    <div class="row">
        <div class="col-md-12">
            <h3 class="decorative-lines decorated-title-margin text-center"><span class="decorated-title">Buttons</span></h3>
        </div>
    </div>
    <!--Large buttons-->
    <div class="row button-demo-wrapper">
        <div class="col-sm-2 btn-demo">
            <button class="btn btn-info btn-lg" type="button">Button</button>
        </div>
        <div class="col-sm-2 btn-demo">
            <button class="btn btn-danger btn-lg" type="button">Button</button>
        </div>
        <div class="col-sm-2 btn-demo">
            <button class="btn btn-primary btn-lg" type="button">Button</button>
        </div>
        <div class="col-sm-2 btn-demo">
            <button class="btn btn-default btn-lg" type="button">Button</button>
        </div>
        <div class="col-sm-2 btn-demo">
            <button class="btn btn-success btn-lg" type="button">Button</button>
        </div>
        <div class="col-sm-2 btn-demo">
            <button class="btn btn-warning btn-lg" type="button">Button</button>
        </div>
    </div>
    <!-- End large buttons -->
    <!--Normal buttons-->
    <div class="row button-demo-wrapper">
        <div class="col-sm-2 btn-demo">
            <button class="btn btn-info" type="button">Button</button>
        </div>
        <div class="col-sm-2 btn-demo">
            <button class="btn btn-danger" type="button">Button</button>
        </div>
        <div class="col-sm-2 btn-demo">
            <button class="btn btn-primary" type="button">Button</button>
        </div>
        <div class="col-sm-2 btn-demo">
            <button class="btn btn-default" type="button">Button</button>
        </div>
        <div class="col-sm-2 btn-demo">
            <button class="btn btn-success" type="button">Button</button>
        </div>
        <div class="col-sm-2 btn-demo">
            <button class="btn btn-warning" type="button">Button</button>
        </div>
    </div>
    <!-- End normal buttons -->
    <!-- End buttons -->
    <!--Begin dropcaps-->
    <div class="row">
        <div class="col-md-12">
            <h3 class="decorative-lines decorated-title-margin--sm text-center"><span class="decorated-title">Dropcaps</span></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p class="dropcaps dropcaps--square">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus gravida sodales tempus. Nunc metus dui, consequat nec commodo id, tempor ac nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut vehicula pulvinar turpis, quis volutpat sem tempor in. Nunc eget quam magna, nec volutpat ipsum. Cras quis risus non dui condimentum congue. Maecenas pharetra sapien eget enim suscipit venenatis. Nulla vel mauris nec tellus euismod interdum.
            </p>
        </div>
        <div class="col-sm-4">
            <p class="dropcaps dropcaps--circle">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus gravida sodales tempus. Nunc metus dui, consequat nec commodo id, tempor ac nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut vehicula pulvinar turpis, quis volutpat sem tempor in. Nunc eget quam magna, nec volutpat ipsum. Cras quis risus non dui condimentum congue. Maecenas pharetra sapien eget enim suscipit venenatis. Nulla vel mauris nec tellus euismod interdum.
            </p>
        </div>
        <div class="col-sm-4">
            <p class="dropcaps">
                Dolor sit amet, consectetur adipiscing elit. Vivamus gravida sodales tempus. Nunc metus dui, consequat nec commodo id, tempor ac nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut vehicula pulvinar turpis, quis volutpat sem tempor in. Nunc eget quam magna, nec volutpat ipsum. Cras quis risus non dui condimentum congue. Maecenas pharetra sapien eget enim suscipit venenatis. Nulla vel mauris nec tellus euismod interdum. Maecenas venenatis dignissim elit.
            </p>
        </div>
    </div>
    <!-- End dropcaps -->
    <!--Begin promoboxes-->
    <div class="row">
        <div class="col-md-12">
            <h3 class="decorative-lines decorated-title-margin text-center"><span class="decorated-title">Promoboxes</span></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="promobox">
                <p class="promobox__text">Promo box here. Praesent sed tristique massa. Aenean iaculis diam nec.</p>
                <a class="btn btn--highlight btn-wider" href="#">Get Free Trial</a>
            </div>
        </div>
        <div class="col-md-12">
            <div class="promobox promobox--neutral">
                <p class="promobox__text">Maecenas ut diam suscipit risus tempor convallis a id erat.</p>
                <a class="btn btn-primary btn-wider" href="#">Get Free Trial</a>
            </div>
        </div>
        <div class="col-md-12">
            <div class="promobox promobox--dark">
                <p class="promobox__text ">Nulla id tortor non diam scelerisque fermentum.</p>
                <a class="btn btn-default btn-wider" href="#">Get Free Trial</a>
            </div>
        </div>
    </div>
    <!-- End promoboxes -->
    <!--Begin table-->
    <div class="row">
        <div class="col-md-12">
            <h3 class="decorative-lines decorated-title-margin--sm text-center"><span class="decorated-title">Table</span></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table">
                    <colgroup class="col-width">
                        <colgroup class="col-width">
                            <colgroup class="col-width">
                                <colgroup class="col-width">
                                    <colgroup class="col-width">
                                        <colgroup class="col-width">
                                            <thead>
                                                <tr>
                                                    <th>Time efficiency</th>
                                                    <th>Cost reduction</th>
                                                    <th>Product sales</th>
                                                    <th>Activity</th>
                                                    <th>Interest rate</th>
                                                    <th>Vestibulum</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Lorem ipsum dolor sit</td>
                                                    <td>Lorem ipsum dolor sit</td>
                                                    <td>523</td>
                                                    <td>1%</td>
                                                    <td>-</td>
                                                    <td>Proin at metus nec erat aliquet.</td>
                                                </tr>
                                                <tr>
                                                    <td>Nulla eget libero felis</td>
                                                    <td>Nulla eget libero felis</td>
                                                    <td>63</td>
                                                    <td>23%</td>
                                                    <td>-</td>
                                                    <td>23%</td>
                                                </tr>
                                                <tr>
                                                    <td>Ut lacinia tellus a libero</td>
                                                    <td>Ut lacinia tellus a libero</td>
                                                    <td>12</td>
                                                    <td>4%</td>
                                                    <td>4%</td>
                                                    <td>Nulla nec porta tellus.</td>
                                                </tr>
                                                <tr>
                                                    <td>Maecenas ornare lorem</td>
                                                    <td>Maecenas ornare lorem</td>
                                                    <td>87</td>
                                                    <td>90%</td>
                                                    <td>+</td>
                                                    <td>Vestibulum leo ligula, consequat.</td>
                                                </tr>
                                                <tr>
                                                    <td>Sed congue orci et</td>
                                                    <td>Sed congue orci et</td>
                                                    <td>987</td>
                                                    <td>67%</td>
                                                    <td>10%</td>
                                                    <td>67%</td>
                                                </tr>
                                            </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--End table-->
    <!--Begin tabs-->
    <div class="row">
        <div class="col-md-12">
            <h3 class="decorative-lines decorated-title-margin text-center"><span class="decorated-title">Tabs</span></h3>
        </div>
    </div>
    <div class="row">
        <!-- Horisontal tabs -->
        <div class="col-sm-6 tabs-responsive">
            <div class="tabs">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#efficiency">Time efficiency</a></li>
                    <li><a data-toggle="tab" href="#support">Live support</a></li>
                    <li><a data-toggle="tab" href="#customizing">Customizing widget</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="efficiency">
                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                        <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Etiam porttitor dolor quis tortor elementum a sollicitudin sem cursus.</p>
                        <p>Nulla et odio id odio gravida lacinia ac et orci. Vestibulum lectus dolor, fringilla sit amet tempus vitae, scelerisque eget lectus. Sed nisi augue, pharetra vitae fringilla in, pulvinar molestie velit. In sollicitudin odio felis.</p>
                    </div>
                    <div class="tab-pane" id="support">
                        <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
                        <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Etiam porttitor dolor quis tortor elementum a sollicitudin sem cursus.</p>
                        <p>Nulla et odio id odio gravida lacinia ac et orci. Proin gravida nibh vel velit auctor aliquet. Vestibulum lectus dolor, fringilla sit amet tempus vitae, scelerisque eget lectus. Sed nisi augue, pharetra vitae fringilla in, pulvinar molestie velit. In sollicitudin odio felis.</p>
                    </div>
                    <div class="tab-pane" id="customizing">
                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                        <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Etiam porttitor dolor quis tortor elementum a sollicitudin sem cursus.</p>
                        <p>Vestibulum lectus dolor, fringilla sit amet tempus vitae, scelerisque eget lectus. Sed nisi augue, pharetra vitae fringilla in, pulvinar molestie velit. In sollicitudin odio felis.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Vertical tabs -->
        <div class="col-sm-6 tabs-responsive">
            <div class="tabs tabs--vertical">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li><a data-toggle="tab" href="#efficiency1">Time efficiency</a></li>
                    <li class="active"><a data-toggle="tab" href="#egestas">Aliquam faucibus egestas</a></li>
                    <li><a data-toggle="tab" href="#tincidunt">Vivamus tincidunt</a></li>
                    <li><a data-toggle="tab" href="#purus">Vivamus vel purus</a></li>
                    <li><a data-toggle="tab" href="#habitant">Pellentesque habitant</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane" id="efficiency1">
                        <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. <strong>Etiam porttitor dolor quis tortor elementum a sollicitudin sem cursus.</strong></p>
                        <p>Nulla et odio id odio gravida lacinia ac et orci. Vestibulum lectus dolor, fringilla sit amet tempus vitae, scelerisque eget lectus. Sed nisi augue, pharetra vitae fringilla in, pulvinar molestie velit. In sollicitudin odio felis.</p>
                    </div>
                    <div class="tab-pane active" id="egestas">
                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. <strong>Etiam porttitor dolor quis tortor elementum a sollicitudin sem cursus.</strong></p>
                        <p>Nulla et odio id odio gravida lacinia ac et orci. Vestibulum lectus dolor, fringilla sit amet tempus vitae, scelerisque eget lectus. Sed nisi augue, pharetra vitae fringilla in, pulvinar molestie velit. In sollicitudin odio felis.</p>
                    </div>
                    <div class="tab-pane" id="tincidunt">
                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. <strong>Etiam porttitor dolor quis tortor elementum a sollicitudin sem cursus.</strong></p>
                        <p>Nulla et odio id odio gravida lacinia ac et orci. Sed nisi augue, pharetra vitae fringilla in, pulvinar molestie velit. In sollicitudin odio felis.</p>
                    </div>
                    <div class="tab-pane" id="purus">
                        <p>Proin gravida nibh vel velit auctor aliquet. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. <strong>Etiam porttitor dolor quis tortor elementum a sollicitudin sem cursus.</strong></p>
                        <p>Nulla et odio id odio gravida lacinia ac et orci. Vestibulum lectus dolor, fringilla sit amet tempus vitae, scelerisque eget lectus. Sed nisi augue, pharetra vitae fringilla in, pulvinar molestie velit. In sollicitudin odio felis.</p>
                    </div>
                    <div class="tab-pane" id="habitant">
                        <p>Nulla et odio id odio gravida lacinia ac et orci. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. <strong>Etiam porttitor dolor quis tortor elementum a sollicitudin sem cursus.</strong></p>
                        <p>Vestibulum lectus dolor, fringilla sit amet tempus vitae, scelerisque eget lectus. Sed nisi augue, pharetra vitae fringilla in, pulvinar molestie velit. In sollicitudin odio felis.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End tabs-->
    <!--Begin text images-->
    <div class="row">
        <div class="col-md-12">
            <h3 class="decorative-lines decorated-title-margin text-center"><span class="decorated-title">Text images</span></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-images">
            <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
            <div class="pull-left image-in-text">
                <img src="http://placehold.it/520x520" alt="image1">
            </div>
            <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue.</p>
            <p>Sed non neque elit. Sed ut imperdiet nisi. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum. Nam nec tellus a odio tincidunt auctor a ornare odio. Aenean sit amet sem et lectus gravida dignissim. Suspendisse potenti. Nunc sem leo, elementum ac tincidunt eu, ullamcorper et orci. Curabitur urna nisi, ornare vel condimentum in, vestibulum sit amet urna. Donec nibh libero, blandit quis cursus ut, condimentum ut odio.Fusce pharetra bibendum facilisis. Fusce tristique auctor felis, non auctor tortor placerat a.</p>
            <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer lorem dolor, imperdiet sed lacinia eu, condimentum et urna. Integer molestie tortor vel elit ultricies vehicula. Quisque tellus nulla, ornare et luctus eu, aliquam at felis. Pellentesque feugiat eleifend consequat. Mauris id fringilla urna. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum. Nam nec tellus a odio tincidunt auctor a ornare odio. Aenean sit amet sem et lectus gravida dignissim. Suspendisse potenti. Nunc sem leo, elementum ac tincidunt eu, ullamcorper et orci. Curabitur urna nisi, ornare vel condimentum in, vestibulum sit amet urna. Donec nibh libero, blandit quis cursus ut, condimentum ut odio.Fusce pharetra bibendum facilisis. Fusce tristique auctor felis, non auctor tortor placerat a.</p>
            <div class="pull-right image-in-text">
                <img src="http://placehold.it/520x520" alt="image2">
            </div>
            <p>Maecenas ut diam suscipit risus tempor convallis a id erat. Nulla id tortor non diam scelerisque fermentum. Aenean volutpat molestie mi, sed malesuada turpis feugiat sit amet. Sed a odio nec lectus laoreet lobortis. Nunc ut egestas enim. Praesent metus ante, sagittis in consequat nec, consectetur blandit mi. Vivamus vestibulum, magna sed tempus pharetra, odio est malesuada enim, et aliquam felis diam quis est.  Proin at metus nec erat aliquet malesuada ac nec urna. Nulla nec porta tellus. Morbi in libero sed lectus feugiat aliquet sed nec tellus. Vestibulum leo ligula, consequat sit amet pulvinar non, luctus ac risus. Nunc commodo facilisis lectus in mattis. Mauris posuere commodo facilisis. Suspendisse potenti. Etiam interdum cursus ipsum, quis posuere est tincidunt id.</p>
            <p>Pellentesque bibendum mattis augue sed ornare. Vestibulum fringilla luctus lacus in ultrices. Vestibulum pretium ligula id lacus tincidunt hendrerit. Vivamus vulputate purus rhoncus magna imperdiet rutrum. Nunc vitae justo sit amet leo facilisis blandit. Morbi nec tempus lectus. Praesent pretium, massa ac vulputate convallis, dui massa interdum nunc, eget accumsan arcu tortor id sem. Duis mattis eleifend sapien, eget varius dui porta eu. Etiam vitae est id metus mollis eleifend. Aliquam mattis urna a felis sodales tempus. Suspendisse eget risus justo, non molestie ipsum.</p>
        </div>
    </div>
    <!--End text images-->
    <!--Begin tooltips-->
    <div class="row">
        <div class="col-md-12">
            <h3 class="decorative-lines decorated-title-margin text-center"><span class="decorated-title">Tooltips</span></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 tooltip-wrapper-demo">
            <a class="custom-tooltip tooltip--primary pull-left" data-toggle="tooltip" href="#" title="dapibus nec">hover over me</a>
            <a class="custom-tooltip tooltip--info pull-left" data-toggle="tooltip" href="#" title="dapibus nec">hover over me</a>
            <a class="custom-tooltip pull-left" data-toggle="tooltip" href="#" title="dapibus nec">hover over me</a>
            <a class="custom-tooltip tooltip--danger pull-left" data-toggle="tooltip" href="#" title="dapibus nec">hover over me</a>
        </div>
    </div>
    <!--End tooltip-->
</section>
<!-- End main content -->
