
@{
    ViewData["Title"] = "index3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <!-- Revo slider -->
    <div class="fullscreen-container">
        <div class="fullscreenbanner revo-slider">
            <ul>
                <!-- SLIDE 1 -->
                <li data-transition="turnoff" data-slotamount="6" data-masterspeed="300" data-slideindex="back">
                    <!-- THE MAIN IMAGE IN THE SLIDE -->
                    <img src="http://placehold.it/3840x1258">
                    <!-- THE CAPTIONS OF THE FIRST SLIDE -->
                    <div class="caption sfb stt slide__title slide__title--lg"
                         data-x="center"
                         data-y="135"
                         data-speed="300"
                         data-start="1800"
                         data-captionhidden="on"
                         data-end="6900"
                         data-endeasing="easeOutExpo"
                         data-easing="easeOutExpo"
                         data-voffset="-15">
                        From a<span class="text-highlight">pp</span>ic team with love!
                    </div>
                    <div class="caption sft stb slide__title slide__title--secondary"
                         data-x="center"
                         data-y="192"
                         data-speed="600"
                         data-start="2300"
                         data-end="7300"
                         data-easing="easeOutExpo">
                        Enjoy the code
                    </div>
                    <div class="caption randomrotate slide__image2"
                         data-x="center"
                         data-y="bottom"
                         data-speed="600"
                         data-start="1300"
                         data-easing="easeOutExpo"
                         data-end="7700"
                         data-endspeed="600"
                         data-endeasing="easeInSine"
                         data-voffset="40">
                    </div>
                </li>
                <!-- END SLIDE 1 -->
                <!-- SLIDE 2 -->
                <li data-transition="flyin" data-slotamount="5" data-masterspeed="300" data-delay="9400">
                    <img src="http://placehold.it/3840x1258">
                    <div class="caption sft stb slide__text slide__text--block"
                         data-x="370"
                         data-y="190"
                         data-speed="400"
                         data-start="1000"
                         data-easing="easeOutExpo"
                         data-end="6500" data-endspeed="300" data-endeasing="easeInSine">
                        Easy to use everywhere
                    </div>
                    <div class="caption sft stb slide__text slide__text--block"
                         data-x="370"
                         data-y="297"
                         data-speed="400"
                         data-start="1700"
                         data-easing="easeOutExpo"
                         data-end="7000" data-endspeed="300" data-endeasing="easeInSine">
                        and anytime!
                    </div>
                </li>
                <!-- END SLIDE 2 -->
                <!-- SLIDE 3 -->
                <li data-transition="slidedown" data-slotamount="7" data-masterspeed="300">
                    <img src="~/images/revo_slider/revo-slider2-img3.jpg">
                    <div class="caption sft stb slide__title slide__title--dark"
                         data-x="370"
                         data-y="95"
                         data-speed="300"
                         data-start="2200"
                         data-easing="easeOutExpo"
                         data-end="6200" data-endspeed="300" data-endeasing="easeInSine">
                        Happy to present
                    </div>
                    <div class="caption sfb stb  slide__title slide__title--dark-secondary"
                         data-x="370"
                         data-y="150"
                         data-speed="300"
                         data-start="2600"
                         data-easing="easeOutExpo"
                         data-end="6400" data-endspeed="300"
                         data-endeasing="easeInSine">
                        Appic HTML version
                    </div>
                    <div class="caption sfb stb slide__list"
                         data-x="370"
                         data-y="235"
                         data-speed="600"
                         data-start="3000"
                         data-easing="easeOutExpo"
                         data-end="6500" data-endspeed="300"
                         data-endeasing="easeInSine">
                        <i class="icon-circle icon-circle--thin fa fa-arrow-right"></i>Responsive layout
                    </div>
                    <div class="caption sfb stb slide__list"
                         data-x="370"
                         data-y="290"
                         data-speed="600"
                         data-start="3100"
                         data-easing="easeOutExpo"
                         data-end="6600"
                         data-endspeed="300"
                         data-endeasing="easeInSine">
                        <i class="icon-circle icon-circle--thin fa fa-arrow-right"></i>Bootstrap grid
                    </div>
                    <div class="caption sfb stb slide__list"
                         data-x="370"
                         data-y="345"
                         data-speed="600"
                         data-start="3200"
                         data-easing="easeOutExpo"
                         data-end="6700"
                         data-endspeed="300"
                         data-endeasing="easeInSine">
                        <i class="icon-circle icon-circle--thin fa fa-arrow-right"></i>Animation effects
                    </div>
                    <div class="caption sfb stb slide__list"
                         data-x="370"
                         data-y="400"
                         data-speed="600"
                         data-start="3300"
                         data-easing="easeOutExpo"
                         data-end="6800"
                         data-endspeed="300"
                         data-endeasing="easeInSine">
                        <i class="icon-circle icon-circle--thin fa fa-arrow-right"></i>Unique timeline
                    </div>
                    <div class="caption sfb stb slide__list"
                         data-x="370"
                         data-y="455"
                         data-speed="600"
                         data-start="3400"
                         data-easing="easeOutExpo"
                         data-end="6900"
                         data-endspeed="300"
                         data-endeasing="easeInSine">
                        <i class="icon-circle icon-circle--thin fa fa-arrow-right"></i>3 blog & 3 gallery styles
                    </div>
                    <div class="caption lfl ltl slide__image3"
                         data-x="840"
                         data-y="bottom"
                         data-speed="900"
                         data-start="1300"
                         data-easing="easeOutExpo"
                         data-end="7700"
                         data-endspeed="600"
                         data-endeasing="easeInSine"
                         data-voffset="10">
                    </div>
                </li>
                <!-- END SLIDE 3 -->
            </ul>
        </div>
    </div>
    <!-- End Revo slider -->
    <div class="divider-simple divider-simple-position"></div>
    <!-- Promobox -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="promobox hidden-xs promobox-position">
                    <p class="promobox__text"><strong>Promo box here.</strong> Praesent sed tristique massa. Aenean iaculis diam nec.</p>
                    <a class="btn btn--highlight btn-wider" href="#">Get Free Trial</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Promobox -->
    <!-- Begin main content -->
    <!-- Begin page section -->
    <section class="container benefits">
        <div class="row">
            <div class="col-xs-12 col-md-7">
                <h2 class="section-title">Appic<span class="text-highlight">benefits</span></h2>
                <ul class="list-arrow list-arrow--hover-efect">
                    <li class="list__item"><i class="icon-circle icon-circle--thin fa fa-arrow-right"></i><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong> Nunc sit amet orci sed lorem blandit lobortis quis sed dui. Quisque eget est sem, vel semper purus. Nullam sed lacus eu justo sollicitudin faucibus. Duis gravida semper vehicula.</li>
                    <li class="list__item"><i class="icon-circle icon-circle--thin fa fa-arrow-right"></i><strong>Vivamus tristique blandit dapibus.</strong> Cras at erat nisi. Cras mi orci, aliquet quis tempor et, bibendum a odio. Vivamus eu felis at felis porta pharetra. Praesent mattis enim purus.</li>
                    <li class="list__item"><i class="icon-circle icon-circle--thin fa fa-arrow-right"></i><strong>Cras interdum, urna nec convallis blandit, nibh libero pharetra ante, in iaculis nisl nunc eget ipsum.</strong> Duis non consequat elit. Aliquam fringilla porttitor sem, ut convallis lorem egestas vel. Aliquam quis purus sapien. Ut commodo porta orci, a aliquam mi semper luctus.</li>
                    <li class="list__item"><i class="icon-circle icon-circle--thin fa fa-arrow-right"></i><strong>Fusce aliquet euismod luctus.</strong> Aliquam scelerisque tincidunt risus nec pellentesque. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent sed tristique massa. Aenean iaculis diam nec ligula ullamcorper eu tempus dolor ullamcorper.</li>
                </ul>
            </div>
            <div class="col-xs-8 col-md-3 col-xs-offset-2 col-md-offset-1 roundabout-wrapper">
                <ul class="roundabout">
                    <li class="roundabout-slide"><img src="~/images/iphone-blue.png" alt=""></li>
                    <li class="roundabout-slide"><img src="~/images/iphone-dark.png" alt=""></li>
                    <li class="roundabout-slide"><img src="~/images/iphone-pink.png" alt=""></li>
                </ul>
                <div class="roundabout-controls">
                    <a class="prev" href="#"></a>
                    <a class="next" href="#"></a>
                </div>
            </div>
        </div>
        <!-- End row -->
    </section>
    <!-- End page section -->
    <!-- Begin page section -->
    <section class="services services--preview">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="divider-circle divider-circle--light"></div>
                    <h2 class="section-title">Available<span class="text-highlight">services</span></h2>
                </div>
            </div>
        </div>
        <!-- Decorated slider -->
        <div class="decorated-slider-wrapper">
            <div class="decorative-lines"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="swiper-controls decorated-slider-controls">
                            <a class="prev-arrow" href="#"></a>
                            <a class="next-arrow" href="#"></a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="swiper-container decorated-slider">
                            <div class="swiper-wrapper">

                                <div class="swiper-slide swiper-slide--active" data-order="slide1">
                                    <div class="services__item">
                                        <i class="icon-circle icon-circle--lg">
                                            <i class="icon-service icon-gear icon-service--dark">&shy;</i>
                                            <i class="icon-service icon-gear--white icon-service--white">&shy;</i>
                                        </i>
                                        <h4 class="service__title">Quick Support</h4>
                                    </div>
                                </div>

                                <div class="swiper-slide" data-order="slide2">
                                    <div class="services__item">
                                        <i class="icon-circle icon-circle--lg">
                                            <i class="icon-service icon-group icon-service--dark">&shy;</i>
                                            <i class="icon-service icon-group--white icon-service--white">&shy;</i>
                                        </i>
                                        <h4 class="service__title">Multiple Users</h4>
                                    </div>
                                </div>

                                <div class="swiper-slide" data-order="slide3">
                                    <div class="services__item">
                                        <i class="icon-circle icon-circle--lg">
                                            <i class="icon-service icon-cloud icon-service--dark">&shy;</i>
                                            <i class="icon-service icon-cloud--white icon-service--white">&shy;</i>
                                        </i>
                                        <h4 class="service__title">Cloud Computing</h4>
                                    </div>
                                </div>

                                <div class="swiper-slide" data-order="slide4">
                                    <div class="services__item">
                                        <i class="icon-circle icon-circle--lg">
                                            <i class="icon-service icon-price-tag icon-service--dark">&shy;</i>
                                            <i class="icon-service icon-price-tag--white icon-service--white">&shy;</i>
                                        </i>
                                        <h4 class="service__title">Cost Reduction</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="service__info">
                            <p class="service__description slide1 service__description--active"><strong>Fusce aliquet euismod luctus.</strong> Aliquam scelerisque tincidunt risus nec pellentesque. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent sed tristique massa. Aenean iaculis diam nec ligula ullamcorper eu tempus dolor ullamcorper. Morbi in nisi tincidunt neque gravida facilisis.  Pellentesque mattis nisl eget neque scelerisque adipiscing. Vestibulum euismod commodo odio sit amet congue. Donec ut sem vel mauris sodales egestas. Nulla eget lorem vitae diam ullamcorper tincidunt ut vel est. </p>
                            <p class="service__description slide2"><strong>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</strong> Sed adipiscing fermentum auctor. Mauris convallis mattis risus vitae cursus. Quisque dapibus venenatis lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu dui id sapien gravida accumsan. Duis ultrices scelerisque velit eget mollis. Nam rhoncus auctor tortor, eget consectetur magna viverra a. Phasellus non mauris ipsum, in vulputate risus. Praesent non ligula lectus. </p>
                            <p class="service__description slide3"><strong>Aenean facilisis tincidunt nibh, ac condimentum urna auctor ac. Nulla id ultricies ligula. </strong>Nulla ornare placerat eros, non aliquet quam ullamcorper nec. Morbi porta nulla sed elit rhoncus lobortis. Duis sit amet ante a augue pretium cursus pulvinar vel velit. Cras at nunc in libero mollis dignissim in ac metus. Pellentesque venenatis lobortis purus, eu scelerisque neque mattis id. Curabitur ut erat odio, nec posuere lacus. Vivamus vitae pulvinar felis. Duis faucibus nibh pulvinar ipsum fermentum blandit. </p>
                            <p class="service__description slide4"><strong>Aenean fermentum eros id purus volutpat id sodales turpis pellentesque.</strong> Donec sapien risus, aliquam quis dictum quis, vehicula vitae mauris. Proin cursus condimentum massa vitae molestie. Aenean nec ligula ante, quis aliquet eros. Aliquam sit amet egestas orci. Aliquam convallis, leo in varius imperdiet, mauris ante accumsan dui, ut faucibus leo purus vel tortor. Suspendisse in varius quam. Maecenas orci libero, dictum sit amet porta et, lobortis ut arcu. Vivamus dolor risus, dignissim vitae pharetra vitae, tincidunt in ligula. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Decorated slider -->
    </section>
    <!-- End page section -->
    <!-- Begin page section -->
    <section class="universe hidden-xs">
        <div class="pattern-light-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-md-5">
                        <h2 class="section-title section-title--light">Welcome to APPIC<span class="text-highlight">universe</span></h2>
                    </div>
                    <div class="col-sm-8 col-md-7 circle-buttons-holder">
                        <!-- Circle button -->
                        <div class="circle-button-wrapper circle-button--smaller-wraper">
                            <div class="circle-button circle-button--smaller">
                                <h4 class="circle-button__title">Discover</h4>
                                <a class="circle-button-second" href="#">
                                    <h4 class="circle-button__title">Discover</h4>
                                </a>
                            </div>
                        </div>
                        <!-- End Circle button -->
                        <!-- Circle button -->
                        <div class="circle-button-wrapper circle-button--smaller-wraper">
                            <div class="circle-button circle-button--smaller">
                                <h4 class="circle-button__title">Share</h4>
                                <a class="circle-button-second" href="#">
                                    <h4 class="circle-button__title">Share</h4>
                                </a>
                            </div>
                        </div>
                        <!-- End Circle button -->
                        <!-- Circle button -->
                        <div class="circle-button-wrapper circle-button--smaller-wraper">
                            <div class="circle-button circle-button--smaller">
                                <h4 class="circle-button__title">Enjoy</h4>
                                <a class="circle-button-second" href="#">
                                    <h4 class="circle-button__title">Enjoy</h4>
                                </a>
                            </div>
                        </div>
                        <!-- End Circle button -->
                    </div>
                </div>

            </div>
            <div class="decorative-lines"></div>
        </div>
    </section>
    <!-- End page section -->
    <!-- Begin page section -->
    <section class="container client-says">
        <div class="row">
            <div class="col-sm-12">
                <div class="divider-circle divider-circle--light visible-xs"></div>
                <h2 class="section-title">Recently<span class="text-highlight">Client says</span></h2>
                <!-- Qoutation slider -->
                <div class="swiper-controls qoutation-slider-controls">
                    <a class="prev-arrow" href="#"></a>
                    <a class="next-arrow" href="#"></a>
                </div>
                <div class="clearfix"></div>
                <div class="swiper-container qoutation-slider qoutation-slider--higher">
                    <div class="swiper-wrapper">
                        <!-- Client saying -->
                        <div class="swiper-slide">
                            <div class="client-says__item">
                                <div class="author__photo triangled-box">
                                    <img src="https://placehold.it/200x200" alt="">
                                    <div class="author__name">John Doe</div>
                                </div>
                                <p class="author__message">Fusce aliquet euismod luctus. Aliquam scelerisque tincidunt risus nec pellentesque. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent sed tristique massa. Aenean iaculis diam nec ligula ullamcorper eu tempus dolor ullamcorper. Morbi in nisi tincidunt neque gravida facilisis.  Pellentesque mattis nisl eget neque scelerisque adipiscing. Vestibulum euismod commodo odio sit amet congue.</p>
                            </div>
                        </div>
                        <!-- End Client saying -->
                        <!-- Client saying -->
                        <div class="swiper-slide">
                            <div class="client-says__item">
                                <div class="author__photo triangled-box">
                                    <img src="https://placehold.it/200x200" alt="">
                                    <div class="author__name">Clark Kent</div>
                                </div>
                                <p class="author__message">Ut id tellus id sapien facilisis convallis sed a turpis. Maecenas nec nisi vel risus consectetur consectetur. Suspendisse a neque felis, a molestie quam. Vestibulum consequat ultrices ullamcorper. Vestibulum elementum semper libero a varius. Integer tristique fringilla mauris vel sollicitudin. Phasellus consequat ipsum sed purus tempus tincidunt. Aliquam rhoncus iaculis porta. Aliquam pharetra nisi ut neque sollicitudin rhoncus.</p>
                            </div>
                        </div>
                        <!-- End Client saying -->
                        <!-- Client saying -->
                        <div class="swiper-slide">
                            <div class="client-says__item">
                                <div class="author__photo triangled-box">
                                    <img src="https://placehold.it/200x200" alt="">
                                    <div class="author__name">Barbara Lee</div>
                                </div>
                                <p class="author__message">Pellentesque suscipit augue eu turpis suscipit faucibus faucibus id lacus. Fusce cursus aliquet vulputate. Aliquam erat volutpat. Nam nec tincidunt nibh. Nullam urna leo, tincidunt eget sodales id, volutpat quis dolor. Etiam ac ipsum non mauris fermentum semper. Vivamus faucibus risus orci. Ut ultrices, quam nec dapibus viverra, erat est fermentum urna, eget ultrices odio neque at odio. Sed pulvinar interdum libero nec vulputate.</p>
                            </div>
                        </div>
                        <!-- End Client saying -->
                        <!-- Client saying -->
                        <div class="swiper-slide">
                            <div class="client-says__item">
                                <div class="author__photo triangled-box">
                                    <img src="https://placehold.it/200x200" alt="">
                                    <div class="author__name">Emely White</div>
                                </div>
                                <p class="author__message">Nunc id ante id lorem accumsan ultrices sed vel nisl. Etiam et massa eu diam facilisis tincidunt ut ut urna. Cras vulputate suscipit sem non dictum. Curabitur pretium nisi ac neque congue commodo scelerisque neque iaculis. Praesent ornare quam eget justo rhoncus vitae hendrerit est vehicula. Nunc lectus enim, condimentum vitae varius eu, iaculis ac nisl. Sed hendrerit nisi in velit aliquet eget luctus diam lacinia.</p>
                            </div>
                        </div>
                        <!-- End Client saying -->
                        <!-- Client saying -->
                        <div class="swiper-slide">
                            <div class="client-says__item">
                                <div class="author__photo triangled-box">
                                    <img src="https://placehold.it/200x200" alt="">
                                    <div class="author__name">Santsa Sky</div>
                                </div>
                                <p class="author__message">Cras vel ligula justo, id condimentum libero. Aliquam erat volutpat. Nunc at erat eget urna semper semper sed sit amet tortor. Suspendisse urna nulla, ullamcorper non congue at, condimentum eu est. Nullam mattis erat ut enim bibendum sed gravida risus cursus. Etiam imperdiet sollicitudin ante, non rhoncus nunc pellentesque ut. Etiam velit lorem, iaculis quis malesuada congue, cursus at massa. Duis ut mauris a nunc tincidunt egestas.</p>
                            </div>
                        </div>
                        <!-- End Client saying -->
                    </div>
                </div>
                <!-- End Qoutation slider -->
            </div>
        </div>
        <!-- End row -->
    </section>
    <!-- End page section -->
    <!-- Begin page section -->
    <section class="container divided-section">
        <div class="divider-circle divider-circle--light"></div>
        <div class="divider-vertical hidden-xs"></div>
        <div class="row">
            <div class="col-sm-6">
                <h2 class="section-title section-title--smaller">Latest<span class="text-highlight">post</span></h2>
                <!-- Latest post -->
                <article class="post post--latest">
                    <a href="single-post.html">
                        <div class="post__image">
                            <img src="http://placehold.it/340x340" alt="">
                        </div>
                        <div class="post__description">
                            <h2 class="post__title">Proin gravida dapibus metus, et pretium lorem accumsan suscipit.</h2>
                            <p class="post__date">February 26, 2014</p>
                            <div class="clearfix hidden-lg"></div>
                            <p class="post__text">Maecenas in purus sit amet nisl condimentum venenatis. Morbi fringilla imperdiet nisi, a rhoncus eros iaculis sed. Nulla eget libero eros, vitae fringilla nisi. In hac habitasse platea dictumst.  Suspendisse viverra velit eu ante tristique adipiscing mollis sapien lobortis. Quisque gravida scelerisque vehicula.  In hac habitasse platea dictumst.<span class="post__more"><i class="icon-circle icon-circle--small fa fa-arrow-right"></i></span></p>
                        </div>
                        <div class="divider-simple visible-xs"></div>
                    </a>
                </article>
                <!-- End Latest post -->
            </div>
            <div class="col-sm-6 choose-us">
                <h2 class="section-title section-title--smaller">Why choose<span class="text-highlight">Appic</span></h2>
                <!-- Accordion -->
                <div class="panel-group accordion accordion--secondary" id="accordion2">
                    <!-- Accordion item -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
                                    <span class="marker"></span>
                                    Sed ac lacus eu arcu lacinia dictum.
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse in" id="collapseFive">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet quam augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nisi nisi, pulvinar a mattis quis, tincidunt sed risus. Quisque ipsum felis, fringilla et tristique eget, mattis quis massa.
                            </div>
                        </div>
                    </div>
                    <!-- End accordion item -->
                    <!-- Accordion item -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
                                    <span class="marker"></span>
                                    Fusce lacinia purus in urna tristique auctor.
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapseSix">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet quam augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nisi nisi, pulvinar a mattis quis, tincidunt sed risus. Quisque ipsum felis, fringilla et tristique eget, mattis quis massa.
                            </div>
                        </div>
                    </div>
                    <!-- End accordion item -->
                    <!-- Accordion item -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
                                    <span class="marker"></span>
                                    Fusce vitae turpis elit.
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapseSeven">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet quam augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nisi nisi, pulvinar a mattis quis, tincidunt sed risus. Quisque ipsum felis, fringilla et tristique eget, mattis quis massa.
                            </div>
                        </div>
                    </div>
                    <!-- End accordion item -->
                    <!-- Accordion item -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">
                                    <span class="marker"></span>
                                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapseEight">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet quam augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nisi nisi, pulvinar a mattis quis, tincidunt sed risus. Quisque ipsum felis, fringilla et tristique eget, mattis quis massa.
                            </div>
                        </div>
                    </div>
                    <!-- End accordion item -->
                </div>
                <!-- End Accordion -->
            </div>
        </div>
        <!-- End row -->
        <div class="divider-circle divider-circle--light divider-circle-margin"></div>
    </section>
    <!-- End page section -->
    <!-- End main content -->
</div>

