
@{
    ViewData["Title"] = "Prices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page title -->
<div class="page-title-wrapper prices-title-wrapper">
    <div class="pattern-dark-wrapper">
        <div class="container">
            <h2 class="page-title page-title-margin">Appic<br><span class="page-title-main">Prices</span></h2>
            <!-- Circle button -->
            <div class="circle-button-wrapper">
                <div class="circle-button">
                    <h4 class="circle-button__title">download <br>app<i class="icon-circle icon-circle--small fa fa-arrow-right"></i></h4>
                    <a class="circle-button-second" href="#">
                        <h4 class="circle-button__title">download <br>app<i class="icon-circle icon-circle--small fa fa-arrow-right"></i></h4>
                    </a>
                </div>
            </div>
            <!-- End Circle button -->

        </div>
    </div>
</div>
<!-- End Page title -->
<!-- Begin main content -->
<section class="container page-content-wrapper">
    <h2 class="hidden-title">Prices</h2>

    <div class="row">
        <div class="col-sm-12">
            <p class="page__text"><strong>Fusce aliquet euismod luctus.</strong> Aliquam scelerisque tincidunt risus nec pellentesque. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent sed tristique massa. Aenean iaculis diam nec ligula ullamcorper eu tempus dolor ullamcorper. Morbi in nisi tincidunt neque gravida facilisis.  Pellentesque mattis nisl eget neque scelerisque adipiscing. Vestibulum euismod commodo odio sit amet congue.</p>
        </div>
    </div>

    <!-- Begin Pricing tables (5 columns, light)-->
    <div class="row price-tables-wrapper">
        <div class="col-sm-12">
            <!-- Pricing table Free -->
            <div class="price price-width price--light price--free">
                <header class="price__header">
                    <p class="price__package">Free</p>
                    <p class="price__value">$ 0.00</p>
                </header>
                <div>
                    <ul class="feather-wrapper">
                        <li class="price__feather"><strong>10 GB</strong> storage</li>
                        <li class="price__feather">Limited Domains</li>
                        <li class="price__feather">Email Marketing</li>
                        <li class="price__feather">Limited Databases</li>
                        <li class="price__feather"><strong>1 user</strong> lisence</li>
                        <li class="price__feather"><strong>15 GB</strong> Bandwidth</li>
                    </ul>
                </div>
                <footer class="price__btn">
                    <a class="btn btn--highlight btn-lg" href="#">Purchase</a>
                </footer>
            </div>
            <!-- End Pricing table Free -->
            <!-- Pricing table Standard -->
            <div class="price price-width price--light price--standard">
                <header class="price__header">
                    <p class="price__package">Standard</p>
                    <p class="price__value">$ 9.99</p>
                </header>
                <div>
                    <ul class="feather-wrapper">
                        <li class="price__feather"><strong>10 GB</strong> storage</li>
                        <li class="price__feather">Limited Domains</li>
                        <li class="price__feather">Email Marketing</li>
                        <li class="price__feather">Limited Databases</li>
                        <li class="price__feather"><strong>1 user</strong> lisence</li>
                        <li class="price__feather"><strong>15 GB</strong> Bandwidth</li>
                    </ul>
                </div>
                <footer class="price__btn">
                    <a class="btn btn--highlight btn-lg" href="#">Purchase</a>
                </footer>
            </div>
            <!-- End Pricing table Standard -->
            <!-- Pricing table Advanced -->
            <div class="price price-width price--light price--advanced">
                <header class="price__header">
                    <p class="price__package">Advanced</p>
                    <p class="price__value">$ 19.99</p>
                </header>
                <div>
                    <ul class="feather-wrapper">
                        <li class="price__feather"><strong>10 GB</strong> storage</li>
                        <li class="price__feather">Limited Domains</li>
                        <li class="price__feather">Email Marketing</li>
                        <li class="price__feather">Limited Databases</li>
                        <li class="price__feather"><strong>1 user</strong> lisence</li>
                        <li class="price__feather"><strong>15 GB</strong> Bandwidth</li>
                    </ul>
                </div>
                <footer class="price__btn">
                    <a class="btn btn--highlight btn-lg" href="#">Purchase</a>
                </footer>
            </div>
            <!-- End Pricing table Advanced -->
            <!-- Pricing table Professional -->
            <div class="price price-width price--light price--professional">
                <header class="price__header">
                    <p class="price__package">Professional</p>
                    <p class="price__value">$ 29.99</p>
                </header>
                <div>
                    <ul class="feather-wrapper">
                        <li class="price__feather"><strong>10 GB</strong> storage</li>
                        <li class="price__feather">Limited Domains</li>
                        <li class="price__feather">Email Marketing</li>
                        <li class="price__feather">Limited Databases</li>
                        <li class="price__feather"><strong>1 user</strong> lisence</li>
                        <li class="price__feather"><strong>15 GB</strong> Bandwidth</li>
                    </ul>
                </div>
                <footer class="price__btn">
                    <a class="btn btn--highlight btn-lg" href="#">Purchase</a>
                </footer>
            </div>
            <!-- End Pricing table Professional -->
            <!-- Pricing table Premium -->
            <div class="price price-width price--light price--premium">
                <header class="price__header">
                    <p class="price__package">Premium</p>
                    <p class="price__value">$ 39.99</p>
                </header>
                <div>
                    <ul class="feather-wrapper">
                        <li class="price__feather"><strong>10 GB</strong> storage</li>
                        <li class="price__feather">Limited Domains</li>
                        <li class="price__feather">Email Marketing</li>
                        <li class="price__feather">Limited Databases</li>
                        <li class="price__feather"><strong>1 user</strong> lisence</li>
                        <li class="price__feather"><strong>15 GB</strong> Bandwidth</li>
                    </ul>
                </div>
                <footer class="price__btn">
                    <a class="btn btn-danger btn-lg" href="#">Purchase</a>
                </footer>
            </div>
            <!-- End Pricing table Premium -->
        </div>
    </div>
    <!-- End Pricing tables (5 columns, light) -->
    <!-- End row -->
    <!-- Begin Pricing tables (4 columns, highlight)-->
    <div class="row price-tables-wrapper">
        <!-- Pricing table Standard -->
        <div class="col-sm-6 col-md-3">
            <div class="price price--highlight price--standard">
                <header class="price__header">
                    <p class="price__package">Standard</p>
                    <p class="price__value">$ 9.99</p>
                </header>
                <div>
                    <ul class="feather-wrapper">
                        <li class="price__feather"><strong>10 GB</strong> storage</li>
                        <li class="price__feather">Limited Domains</li>
                        <li class="price__feather">Email Marketing</li>
                        <li class="price__feather">Limited Databases</li>
                        <li class="price__feather"><strong>1 user</strong> lisence</li>
                        <li class="price__feather"><strong>15 GB</strong> Bandwidth</li>
                    </ul>
                </div>
                <footer class="price__btn">
                    <a class="btn btn-primary btn-lg" href="#">Purchase</a>
                </footer>
            </div>
        </div>
        <!-- End Pricing table Standard -->
        <!-- Pricing table Advanced -->
        <div class="col-sm-6 col-md-3">
            <div class="price price--highlight price--advanced">
                <header class="price__header">
                    <p class="price__package">Advanced</p>
                    <p class="price__value">$ 19.99</p>
                </header>
                <div>
                    <ul class="feather-wrapper">
                        <li class="price__feather"><strong>10 GB</strong> storage</li>
                        <li class="price__feather">Limited Domains</li>
                        <li class="price__feather">Email Marketing</li>
                        <li class="price__feather">Limited Databases</li>
                        <li class="price__feather"><strong>1 user</strong> lisence</li>
                        <li class="price__feather"><strong>15 GB</strong> Bandwidth</li>
                    </ul>
                </div>
                <footer class="price__btn">
                    <a class="btn btn-primary btn-lg" href="#">Purchase</a>
                </footer>
            </div>
        </div>
        <!-- End Pricing table Advanced -->
        <!-- Pricing table Professional -->
        <div class="col-sm-6 col-md-3">
            <div class="price price--highlight price--professional">
                <header class="price__header">
                    <p class="price__package">Professional</p>
                    <p class="price__value">$ 29.99</p>
                </header>
                <div>
                    <ul class="feather-wrapper">
                        <li class="price__feather"><strong>10 GB</strong> storage</li>
                        <li class="price__feather">Limited Domains</li>
                        <li class="price__feather">Email Marketing</li>
                        <li class="price__feather">Limited Databases</li>
                        <li class="price__feather"><strong>1 user</strong> lisence</li>
                        <li class="price__feather"><strong>15 GB</strong> Bandwidth</li>
                    </ul>
                </div>
                <footer class="price__btn">
                    <a class="btn btn-primary btn-lg" href="#">Purchase</a>
                </footer>
            </div>
        </div>
        <!-- End Pricing table Professional -->
        <!-- Pricing table Premium -->
        <div class="col-sm-6 col-md-3">
            <div class="price price--highlight price--premium">
                <header class="price__header">
                    <p class="price__package">Premium</p>
                    <p class="price__value">$ 39.99</p>
                </header>
                <div>
                    <ul class="feather-wrapper">
                        <li class="price__feather"><strong>10 GB</strong> storage</li>
                        <li class="price__feather">Limited Domains</li>
                        <li class="price__feather">Email Marketing</li>
                        <li class="price__feather">Limited Databases</li>
                        <li class="price__feather"><strong>1 user</strong> lisence</li>
                        <li class="price__feather"><strong>15 GB</strong> Bandwidth</li>
                    </ul>
                </div>
                <footer class="price__btn">
                    <a class="btn btn-default btn-lg" href="#">Purchase</a>
                </footer>
            </div>
        </div>
        <!-- End Pricing table Premium -->
    </div>
    <!-- End Pricing tables (4 columns, highlight) -->
    <!-- End row -->
    <!-- Begin Pricing tables (3 columns, highlight)-->
    <div class="row price--decorated-container">
        <!-- Pricing table Standard -->
        <div class="col-sm-4 price--decorated-wrapper">
            <div class="price price--decorated price--standard">
                <header class="price__header">
                    <p class="price__package">Standard</p>
                    <p class="price__value">$ 9.99</p>
                </header>
                <div>
                    <div class="divider-circle"></div>
                    <ul class="feather-wrapper">
                        <li class="price__feather">10 GB storage</li>
                        <li class="price__feather">Limited Domains</li>
                        <li class="price__feather">Email Marketing</li>
                        <li class="price__feather">Limited Databases</li>
                        <li class="price__feather">1 user lisence</li>
                        <li class="price__feather">15 GB Bandwidth</li>
                    </ul>
                </div>
                <footer class="price__btn">
                    <a class="btn btn-primary btn-lg" href="#">Purchase</a>
                </footer>
            </div>
        </div>
        <!-- End Pricing table Standard -->
        <!-- Pricing table Standard -->
        <div class="col-sm-4 price--decorated-wrapper">
            <div class="price price--decorated price--standard">
                <header class="price__header">
                    <p class="price__package">Standard</p>
                    <p class="price__value">$ 9.99</p>
                </header>
                <div>
                    <div class="divider-circle"></div>
                    <ul class="feather-wrapper">
                        <li class="price__feather">10 GB storage</li>
                        <li class="price__feather">Limited Domains</li>
                        <li class="price__feather">Email Marketing</li>
                        <li class="price__feather">Limited Databases</li>
                        <li class="price__feather">1 user lisence</li>
                        <li class="price__feather">15 GB Bandwidth</li>
                    </ul>
                </div>
                <footer class="price__btn">
                    <a class="btn btn-primary btn-lg" href="#">Purchase</a>
                </footer>
            </div>
        </div>
        <!-- End Pricing table Standard -->
        <!-- Pricing table Standard -->
        <div class="col-sm-4 price--decorated-wrapper">
            <div class="price price--decorated price--standard">
                <header class="price__header">
                    <p class="price__package">Standard</p>
                    <p class="price__value">$ 9.99</p>
                </header>
                <div>
                    <div class="divider-circle"></div>
                    <ul class="feather-wrapper">
                        <li class="price__feather">10 GB storage</li>
                        <li class="price__feather">Limited Domains</li>
                        <li class="price__feather">Email Marketing</li>
                        <li class="price__feather">Limited Databases</li>
                        <li class="price__feather">1 user lisence</li>
                        <li class="price__feather">15 GB Bandwidth</li>
                    </ul>
                </div>
                <footer class="price__btn">
                    <a class="btn btn-primary btn-lg" href="#">Purchase</a>
                </footer>
            </div>
        </div>
        <!-- End Pricing table Standard -->
    </div>
    <!-- End Pricing tables (3 columns, highlight) -->
    <!-- End row -->

</section>
<!-- End main content -->
