
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page title -->
<div class="page-title-wrapper services-title-wrapper">
    <div class="pattern-dark-wrapper">
        <div class="container">
            <h2 class="page-title page-title-margin">Client<br><span class="page-title-main">services</span></h2>
            <!-- Circle button -->
            <div class="circle-button-wrapper">
                <div class="circle-button">
                    <h4 class="circle-button__title">download <br>app<i class="icon-circle icon-circle--small fa fa-arrow-right"></i></h4>
                    <a class="circle-button-second" href="#">
                        <h4 class="circle-button__title">download <br>app<i class="icon-circle icon-circle--small fa fa-arrow-right"></i></h4>
                    </a>
                </div>
            </div>
            <!-- End Circle button -->

        </div>
    </div>
</div>
<!-- End Page title -->
<!-- Begin main content -->
<div class="container page-content-wrapper">
    <div class="row">
        <div class="col-sm-8">
            <p class="page__text"><strong>Fusce aliquet euismod luctus.</strong> Aliquam scelerisque tincidunt risus nec pellentesque. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent sed tristique massa. Aenean iaculis diam nec ligula ullamcorper eu tempus dolor ullamcorper. Morbi in nisi tincidunt neque gravida facilisis.  Pellentesque mattis nisl eget neque scelerisque adipiscing. Vestibulum euismod commodo odio sit amet congue.</p>
        </div>
    </div>
    <!-- End row -->
    <div class="row">
        <!-- Begin page section -->
        <section class="col-sm-8 services-description">
            <h2 class="section-title-simple">Services description</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="services__item">
                        <i class="icon-circle icon-circle--lg icon icon--primary fa fa-bar-chart-o"></i>
                        <h4 class="service__title">Market analytics</h4>
                        <p class="service__text"><strong>Fusce aliquet euismod luctus.</strong> Aliquam scelerisque tincidunt risus nec pellentesque. Cum sociis natoque penatibus.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="services__item">
                        <i class="icon-circle icon-circle--lg icon icon--primary fa fa-wrench"></i>
                        <h4 class="service__title">Simple editor</h4>
                        <p class="service__text"><strong>Fusce aliquet euismod luctus.</strong> Aliquam scelerisque tincidunt risus nec pellentesque. Cum sociis natoque penatibus.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="services__item">
                        <i class="icon-circle icon-circle--lg icon icon--primary fa fa-tag"></i>
                        <h4 class="service__title">Cost effective</h4>
                        <p class="service__text"><strong>Fusce aliquet euismod luctus.</strong> Aliquam scelerisque tincidunt risus nec pellentesque. Cum sociis natoque penatibus.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="services__item">
                        <i class="icon-circle icon-circle--lg icon icon--primary fa fa-clock-o"></i>
                        <h4 class="service__title">Real time work</h4>
                        <p class="service__text"><strong>Fusce aliquet euismod luctus.</strong> Aliquam scelerisque tincidunt risus nec pellentesque. Cum sociis natoque penatibus.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End page section -->
        <!-- Begin page section -->
        <section class="col-sm-4 support">
            <h2 class="section-title">Have any<span class="text-highlight">questions?</span></h2>
            <p class="support__text">Aliquam scelerisque tincidunt risus nec pellentesque. Cum sociis natoque penatibus et magnis dis parturient montes. <strong>Any time, toll free</strong></p>
            <div class="support__contacts">
                <p class="support__item">support@appic.com</p>
                or
                <p class="support__item">1-800-123-444-567</p>
            </div>
        </section>
        <!-- End page section -->
    </div>
    <!-- End row -->
</div>
<!-- Begin page section -->
<section class="container services">
    <div class="row">
        <div class="col-sm-12">
            <div class="divider-circle divider-circle--light"></div>
            <h2 class="section-title">Available<span class="text-highlight">services</span></h2>

            <div class="services__item clearfix">
                <div class="service__icon-holder triangled-box">
                    <i class="icon-circle icon-circle--lg icon icon--primary fa fa-cog"></i>
                    <h3 class="service__title">Quick Support</h3>
                </div>
                <div class="service__description">
                    <p><strong>Fusce aliquet euismod luctus.</strong> Aliquam scelerisque tincidunt risus nec pellentesque. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent sed tristique massa. Aenean iaculis diam nec ligula ullamcorper eu tempus dolor ullamcorper. Morbi in nisi tincidunt neque gravida facilisis.  Pellentesque mattis nisl eget neque scelerisque adipiscing. Vestibulum euismod commodo odio sit amet congue. Donec ut sem vel mauris sodales egestas. Nulla eget lorem vitae diam ullamcorper tincidunt ut vel est. <a class="link-highlight" href="prices.html">Price plans <i class="icon-circle icon-circle--small fa fa-arrow-right"></i></a></p>
                </div>
            </div>

            <div class="services__item services__item--right clearfix">
                <div class="service__icon-holder triangled-box triangled-box--right">
                    <i class="icon-circle icon-circle--lg icon icon--primary fa fa-users"></i>
                    <h3 class="service__title">Multiple Users</h3>
                </div>
                <div class="service__description">
                    <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong> Nullam vitae diam dui. Quisque ac dui neque. Duis nec nisi id neque malesuada pharetra sit amet id mauris. Morbi quis vulputate nunc. Nam quis mauris sed dolor porttitor facilisis et eget neque. <em class="text-emphasis">Nunc commodo molestie purus, sit amet ultrices sapien molestie vitae.</em> Nulla nulla tortor, aliquet ut faucibus id, posuere id lectus. Fusce eu mauris sem. Nullam tempus felis vitae turpis molestie sed vulputate urna eleifend.</p>
                    <a class="link-highlight" href="prices.html">Price plans <i class="icon-circle icon-circle--small fa fa-arrow-right"></i></a>
                </div>
            </div>

            <div class="services__item clearfix">
                <div class="service__icon-holder triangled-box">
                    <i class="icon-circle icon-circle--lg icon icon--primary fa fa-cloud"></i>
                    <h3 class="service__title">Cloud Computing</h3>
                </div>
                <div class="service__description">
                    <p><strong>Curabitur at purus ac nunc lobortis congue.</strong> Praesent venenatis turpis ac ligula faucibus imperdiet condimentum enim pellentesque. Vestibulum vestibulum, diam ac eleifend interdum, mi purus vestibulum orci, et lacinia velit est aliquam metus. Cras nec imperdiet metus. Curabitur eu sem purus, in ullamcorper tortor. Ut nibh mi, volutpat et ullamcorper a, pellentesque ac nibh. <em class="text-emphasis">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</em> Nunc accumsan urna venenatis libero mollis sit amet lobortis tortor rutrum. Cras suscipit, velit ut porta pulvinar, mi enim congue massa, ac mattis mauris libero cursus ipsum. <a class="link-highlight" href="prices.html">Price plans <i class="icon-circle icon-circle--small fa fa-arrow-right"></i></a></p>
                </div>
            </div>

            <div class="services__item services__item--right clearfix">
                <div class="service__icon-holder triangled-box triangled-box--right">
                    <i class="icon-circle icon-circle--lg icon icon--primary fa fa-files-o"></i>
                    <h3 class="service__title">Files Operating</h3>
                </div>
                <div class="service__description">
                    <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong> Nullam vitae diam dui. Quisque ac dui neque. Duis nec nisi id neque malesuada pharetra sit amet id mauris. Morbi quis vulputate nunc. Nam quis mauris sed dolor porttitor facilisis et eget neque. <em class="text-emphasis">Nunc commodo molestie purus, sit amet ultrices sapien molestie vitae.</em> Nulla nulla tortor, aliquet ut faucibus id, posuere id lectus. Fusce eu mauris sem. Nullam tempus felis vitae turpis molestie sed vulputate urna eleifend.</p>
                    <a class="link-highlight" href="prices.html">Price plans <i class="icon-circle icon-circle--small fa fa-arrow-right"></i></a>
                </div>
            </div>

            <div class="services__item clearfix">
                <div class="service__icon-holder triangled-box">
                    <i class="icon-circle icon-circle--lg icon icon--primary fa fa-briefcase"></i>
                    <h3 class="service__title">Investment Program</h3>
                </div>
                <div class="service__description">
                    <p><strong>Curabitur at purus ac nunc lobortis congue.</strong> Praesent venenatis turpis ac ligula faucibus imperdiet condimentum enim pellentesque. Vestibulum vestibulum, diam ac eleifend interdum, mi purus vestibulum orci, et lacinia velit est aliquam metus. Cras nec imperdiet metus. Curabitur eu sem purus, in ullamcorper tortor. Ut nibh mi, volutpat et ullamcorper a, pellentesque ac nibh. <em class="text-emphasis">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</em> Nunc accumsan urna venenatis libero mollis sit amet lobortis tortor rutrum. Cras suscipit, velit ut porta pulvinar, mi enim congue massa, ac mattis mauris libero cursus ipsum. <a class="link-highlight" href="prices.html">Price plans <i class="icon-circle icon-circle--small fa fa-arrow-right"></i></a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- End row -->
</section>
<!-- End page section -->
<!-- Begin page section -->
<section class="container client-says">
    <div class="row">
        <div class="col-sm-12">
            <div class="divider-circle divider-circle--light"></div>
        </div>
    </div>
    <!-- End row -->
    <div class="row">
        <div class="col-sm-8">
            <h2 class="section-title">Recently<span class="text-highlight">Client says</span></h2>
            <!-- Qoutation slider -->
            <div class="swiper-controls qoutation-slider-controls">
                <a class="prev-arrow" href="#"></a>
                <a class="next-arrow" href="#"></a>
            </div>
            <div class="clearfix"></div>
            <div class="swiper-container qoutation-slider">
                <div class="swiper-wrapper">
                    <!-- Client saying -->
                    <div class="swiper-slide">
                        <div class="client-says__item">
                            <div class="author__photo triangled-box">
                                <img src="https://placehold.it/200x200" alt="">
                                <div class="author__name">John Doe</div>
                            </div>
                            <p class="author__message">Fusce aliquet euismod luctus. Aliquam scelerisque tincidunt risus nec pellentesque. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent sed tristique massa.</p>
                        </div>
                    </div>
                    <!-- End Client saying -->
                    <!-- Client saying -->
                    <div class="swiper-slide">
                        <div class="client-says__item">
                            <div class="author__photo triangled-box">
                                <img src="https://placehold.it/200x200" alt="">
                                <div class="author__name">Clark Kent</div>
                            </div>
                            <p class="author__message">Ut id tellus id sapien facilisis convallis sed a turpis. Maecenas nec nisi vel risus consectetur consectetur. Suspendisse a neque felis, a molestie quam. Vestibulum consequat ultrices ullamcorper.</p>
                        </div>
                    </div>
                    <!-- End Client saying -->
                    <!-- Client saying -->
                    <div class="swiper-slide">
                        <div class="client-says__item">
                            <div class="author__photo triangled-box">
                                <img src="https://placehold.it/200x200" alt="">
                                <div class="author__name">Barbara Lee</div>
                            </div>
                            <p class="author__message">Pellentesque suscipit augue eu turpis suscipit faucibus faucibus id lacus. Fusce cursus aliquet vudivutate. Aliquam erat volutpat. Nam nec tincidunt nibh. Nullam urna leo, tincidunt eget sodales id, volutpat quis dolor.</p>
                        </div>
                    </div>
                    <!-- End Client saying -->
                    <!-- Client saying -->
                    <div class="swiper-slide">
                        <div class="client-says__item">
                            <div class="author__photo triangled-box">
                                <img src="https://placehold.it/200x200" alt="">
                                <div class="author__name">Emely White</div>
                            </div>
                            <p class="author__message">Nunc id ante id lorem accumsan ultrices sed vel nisl. Etiam et massa eu diam facilisis tincidunt ut ut urna. Cras vulputate suscipit sem non dictum. Curabitur pretium nisi ac neque congue commodo scelerisque neque iaculis.</p>
                        </div>
                    </div>
                    <!-- End Client saying -->
                    <!-- Client saying -->
                    <div class="swiper-slide">
                        <div class="client-says__item">
                            <div class="author__photo triangled-box">
                                <img src="https://placehold.it/200x200" alt="">
                                <div class="author__name">Santsa Sky</div>
                            </div>
                            <p class="author__message">Cras vel ligula justo, id condimentum libero. Aliquam erat volutpat. Nunc at erat eget urna semper semper sed sit amet tortor. Suspendisse urna nulla, ullamcorper non congue at, condimentum eu est.</p>
                        </div>
                    </div>
                    <!-- End Client saying -->
                </div>
            </div>
            <!-- End Qoutation slider -->
        </div>
        <div class="col-sm-4">
            <div class="promobox promobox--alternative">
                <h4 class="promobox__title">Great app for your business</h4>
                <p class="promobox__text">Praesent sed tristique massa. Aenean iaculis diam nec ligula ullamcorper eu tempus dolor ullamcorper. Praesent sed tristique massa.</p>
                <a class="btn btn-info btn-wider btn--highlight" href="#">Get Free Trial</a>
            </div>
        </div>
    </div>
    <!-- End row -->
</section>
<!-- End page section -->
<!-- End main content -->
