
@{
    ViewData["Title"] = "BlogStyle1Full";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page title -->
<div class="page-title-wrapper blog-title-wrapper">
    <div class="pattern-dark-wrapper">
        <div class="container">
            <h2 class="page-title page-title-margin">Appic<br><span class="page-title-main">Blog</span></h2>
            <!-- Circle button -->
            <div class="circle-button-wrapper">
                <div class="circle-button">
                    <h4 class="circle-button__title">download <br>app<i class="icon-circle icon-circle--small fa fa-arrow-right"></i></h4>
                    <a class="circle-button-second" href="#">
                        <h4 class="circle-button__title">download <br>app<i class="icon-circle icon-circle--small fa fa-arrow-right"></i></h4>
                    </a>
                </div>
            </div>
            <!-- End Circle button -->

        </div>
    </div>
</div>
<!-- End Page title -->
<!-- Begin main content -->
<section class="container">
    <h2 class="hidden-title">Blog style 1</h2>
    <div class="">
        <!-- Begin Posts preview-->
        <div class="col-sm-12">
            <!-- Post preview item -->
            <article class="post post--preview-info">
                <div class="post__info">
                    <div class="post__author">
                        <div class="post__author__photo-holder">
                            <img class="post__author__photo" src="http://placehold.it/200x200" alt="">
                        </div>
                        <a class="post__author__name divider-triangle" href="#">Christin Swan</a>
                        <p class="post__author__detail">Financial manager</p>
                    </div>
                    <p class="post__date divider-triangle">December 01, 2013</p>
                </div>
                <div class="post__description">
                    <a href="single-post.html">
                        <h2 class="post__title">Proin gravida dapibus metus, et pretium lorem accumsan suscipit.</h2>
                    </a>
                    <div class="post__image post__image--full">
                        <img src="http://placehold.it/1260x524" alt="">
                    </div>
                    <p class="post__text">Maecenas in purus sit amet nisl condimentum venenatis. Morbi fringilla imperdiet nisi, a rhoncus eros iaculis sed. Nulla eget libero eros, vitae fringilla nisi. In hac habitasse platea dictumst.  Suspendisse viverra velit eu ante tristique adipiscing mollis sapien lobortis. Quisque gravida scelerisque vehicula.</p>
                    <a class="post__more link-highlight" href="single-post.html">More <i class="icon-circle icon-circle--small fa fa-arrow-right"></i></a>
                </div>
            </article>
            <!-- End Post preview item -->
            <div class="divider-simple"></div>
            <!-- Post preview item -->
            <article class="post post--preview-info">
                <div class="post__info">
                    <div class="post__author">
                        <div class="post__author__photo-holder">
                            <img class="post__author__photo" src="http://placehold.it/200x200" alt="">
                        </div>
                        <a class="post__author__name divider-triangle" href="#">Sarah Bergner</a>
                        <p class="post__author__detail">HR manager</p>
                    </div>
                    <p class="post__date divider-triangle">November 21, 2013</p>
                </div>
                <div class="post__description">
                    <a href="single-post.html">
                        <h2 class="post__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
                    </a>
                    <div class="post__image post__image--full">
                        <img src="http://placehold.it/1260x524" alt="">
                    </div>
                    <p class="post__text">Duis lectus urna, malesuada laoreet aliquet nec, scelerisque vitae dolor. Fusce tincidunt dolor vitae nisi ultrices imperdiet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus vel ante massa. Proin adipiscing eros nec lorem feugiat eget tincidunt mauris interdum. Praesent congue, quam non gravida ultrices, tellus mauris porttitor mi, ac venenatis ligula mauris ullamcorper arcu. Aenean ut laoreet libero. Integer mollis aliquam malesuada.</p>
                    <a class="post__more link-highlight" href="single-post.html">More <i class="icon-circle icon-circle--small fa fa-arrow-right"></i></a>
                </div>
            </article>
            <!-- End Post preview item -->
            <div class="divider-simple"></div>
            <!-- Post preview item -->
            <article class="post post--preview-info">
                <div class="post__info">
                    <div class="post__author">
                        <div class="post__author__photo-holder">
                            <img class="post__author__photo" src="http://placehold.it/200x200" alt="">
                        </div>
                        <a class="post__author__name divider-triangle" href="#">Olivia Fellicitie</a>
                        <p class="post__author__detail">Manager</p>
                    </div>
                    <p class="post__date divider-triangle">November 17, 2013</p>
                </div>
                <div class="post__description">
                    <a href="single-post.html">
                        <h2 class="post__title">Suspendisse vel enim vitae tortor congue euismod a id lacus.</h2>
                    </a>
                    <div class="post__image post__image--full">
                        <img src="http://placehold.it/1260x524" alt="">
                    </div>
                    <p class="post__text">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris dignissim pretium orci, sed vehicula felis viverra a. Nunc vel blandit urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    <a class="post__more link-highlight" href="single-post.html">More <i class="icon-circle icon-circle--small fa fa-arrow-right"></i></a>
                </div>
            </article>
            <!-- End Post preview item -->
            <div class="divider-simple"></div>
            <!-- Post preview item -->
            <article class="post post--preview-info">
                <div class="post__info">
                    <div class="post__author">
                        <div class="post__author__photo-holder">
                            <img class="post__author__photo" src="http://placehold.it/200x200" alt="">
                        </div>
                        <a class="post__author__name divider-triangle" href="#">Tom Howard</a>
                        <p class="post__author__detail">Designer</p>
                    </div>
                    <p class="post__date divider-triangle">October 17, 2013</p>
                </div>
                <div class="post__description">
                    <a href="single-post.html">
                        <h2 class="post__title">Nunc bibendum mattis fringilla. In hac habitasse platea dictumst.</h2>
                    </a>
                    <div class="post__image post__image--full">
                        <img src="http://placehold.it/1260x524" alt="">
                    </div>
                    <p class="post__text">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris dignissim pretium orci, sed vehicula felis viverra a. Nunc vel blandit urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    <a class="post__more link-highlight" href="single-post.html">More <i class="icon-circle icon-circle--small fa fa-arrow-right"></i></a>
                </div>
            </article>
            <!-- End Post preview item -->
            <div class="divider-simple"></div>
            <!-- Post preview item -->
            <article class="post post--preview-info">
                <div class="post__info">
                    <div class="post__author">
                        <div class="post__author__photo-holder">
                            <img class="post__author__photo" src="http://placehold.it/200x200" alt="">
                        </div>
                        <a class="post__author__name divider-triangle" href="#">Henry Summers</a>
                        <p class="post__author__detail">Manager</p>
                    </div>
                    <p class="post__date divider-triangle">October 10, 2013</p>
                </div>
                <div class="post__description">
                    <a href="single-post.html">
                        <h2 class="post__title">Integer vitae imperdiet erat. Quisque sed dui at metus pretium elementum ac eu tellus.</h2>
                    </a>
                    <div class="post__image post__image--full">
                        <img src="http://placehold.it/1260x524" alt="">
                    </div>
                    <p class="post__text">Nunc erat massa, commodo in aliquam non, tempus a felis. Sed tempor justo sed risus dictum consequat. Vivamus tincidunt scelerisque laoreet. Quisque gravida nibh eu quam convallis tincidunt. Sed vel sapien dolor. Etiam egestas posuere facilisis. Nunc vestibulum cursus ante non euismod. Praesent vitae velit ac elit luctus tempor. Fusce eget feugiat justo.</p>
                    <a class="post__more link-highlight" href="single-post.html">More <i class="icon-circle icon-circle--small fa fa-arrow-right"></i></a>
                </div>
            </article>
            <!-- End Post preview item -->
            <!-- Pagination -->
            <div class="pagination">
                <a class="pagination__item pagination__item--previous pagination__item--disabled" href="#"></a>
                <a class="pagination__item pagination__item--active" href="#">1</a>
                <a class="pagination__item hidden-xs hidden-sm" href="#">2</a>
                <a class="pagination__item hidden-xs hidden-sm" href="#">3</a>
                <a class="pagination__item pagination__item--etc" href="#">...</a>
                <a class="pagination__item hidden-xs hidden-sm" href="#">10</a>
                <a class="pagination__item hidden-xs hidden-sm" href="#">11</a>
                <a class="pagination__item">12</a>
                <a class="pagination__item pagination__item--next" href="#"></a>
            </div>
            <!-- End Pagination -->
        </div>
        <!-- End Posts preview -->
    </div>
    <!-- End row -->
</section>
<!-- End main content -->
