
@{
    ViewData["Title"] = "BlogStyle1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page title -->
<div class="page-title-wrapper blog-title-wrapper">
    <div class="pattern-dark-wrapper">
        <div class="container">
            <h2 class="page-title page-title-margin">Appic<br><span class="page-title-main">Blog</span></h2>
            <!-- Circle button -->
            <div class="circle-button-wrapper">
                <div class="circle-button">
                    <h4 class="circle-button__title">download <br>app<i class="icon-circle icon-circle--small fa fa-arrow-right"></i></h4>
                    <a class="circle-button-second" href="#">
                        <h4 class="circle-button__title">download <br>app<i class="icon-circle icon-circle--small fa fa-arrow-right"></i></h4>
                    </a>
                </div>
            </div>
            <!-- End Circle button -->

        </div>
    </div>
</div>
<!-- End Page title -->
<!-- Begin main content -->
<section class="container">
    <h2 class="hidden-title">Blog style 1</h2>
    <div class="row">
        <!-- Begin Posts preview-->
        <div class="col-sm-8">
            <!-- Post preview item -->
            <article class="post post--preview-info">
                <div class="post__info">
                    <div class="post__author">
                        <div class="post__author__photo-holder">
                            <img class="post__author__photo" src="https://placehold.it/200x200" alt="">
                        </div>
                        <a class="post__author__name divider-triangle" href="#">Christin Swan</a>
                        <p class="post__author__detail">Financial manager</p>
                    </div>
                    <p class="post__date divider-triangle">December 01, 2013</p>
                </div>
                <div class="post__description">
                    <a href="single-post.html">
                        <h2 class="post__title">Proin gravida dapibus metus, et pretium lorem accumsan suscipit.</h2>
                    </a>
                    <div class="post__image">
                        <img src="https://placehold.it/1260x524" alt="">
                    </div>
                    <p class="post__text">Maecenas in purus sit amet nisl condimentum venenatis. Morbi fringilla imperdiet nisi, a rhoncus eros iaculis sed. Nulla eget libero eros, vitae fringilla nisi. In hac habitasse platea dictumst.  Suspendisse viverra velit eu ante tristique adipiscing mollis sapien lobortis. Quisque gravida scelerisque vehicula.</p>
                    <a class="post__more link-highlight" href="single-post.html">More <i class="icon-circle icon-circle--small fa fa-arrow-right"></i></a>
                </div>
            </article>
            <!-- End Post preview item -->
            <div class="divider-simple"></div>
            <!-- Post preview item -->
            <article class="post post--preview-info">
                <div class="post__info">
                    <div class="post__author">
                        <div class="post__author__photo-holder">
                            <img class="post__author__photo" src="https://placehold.it/200x200" alt="">
                        </div>
                        <a class="post__author__name divider-triangle" href="#">Sarah Bergner</a>
                        <p class="post__author__detail">HR manager</p>
                    </div>
                    <p class="post__date divider-triangle">November 21, 2013</p>
                </div>
                <div class="post__description">
                    <a href="single-post.html">
                        <h2 class="post__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
                    </a>
                    <div class="post__image">
                        <img src="https://placehold.it/1260x524" alt="">
                    </div>
                    <p class="post__text">Duis lectus urna, malesuada laoreet aliquet nec, scelerisque vitae dolor. Fusce tincidunt dolor vitae nisi ultrices imperdiet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus vel ante massa. Proin adipiscing eros nec lorem feugiat eget tincidunt mauris interdum. Praesent congue, quam non gravida ultrices, tellus mauris porttitor mi, ac venenatis ligula mauris ullamcorper arcu. Aenean ut laoreet libero. Integer mollis aliquam malesuada.</p>
                    <a class="post__more link-highlight" href="single-post.html">More <i class="icon-circle icon-circle--small fa fa-arrow-right"></i></a>
                </div>
            </article>
            <!-- End Post preview item -->
            <div class="divider-simple"></div>
            <!-- Post preview item -->
            <article class="post post--preview-info">
                <div class="post__info">
                    <div class="post__author">
                        <div class="post__author__photo-holder">
                            <img class="post__author__photo" src="https://placehold.it/200x200" alt="">
                        </div>
                        <a class="post__author__name divider-triangle" href="#">Olivia Fellicitie</a>
                        <p class="post__author__detail">Manager</p>
                    </div>
                    <p class="post__date divider-triangle">November 17, 2013</p>
                </div>
                <div class="post__description">
                    <a href="single-post.html">
                        <h2 class="post__title">Suspendisse vel enim vitae tortor congue euismod a id lacus.</h2>
                    </a>
                    <div class="post__image">
                        <img src="https://placehold.it/1260x524" alt="">
                    </div>
                    <p class="post__text">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris dignissim pretium orci, sed vehicula felis viverra a. Nunc vel blandit urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    <a class="post__more link-highlight" href="single-post.html">More <i class="icon-circle icon-circle--small fa fa-arrow-right"></i></a>
                </div>
            </article>
            <!-- End Post preview item -->
            <div class="divider-simple"></div>
            <!-- Post preview item -->
            <article class="post post--preview-info">
                <div class="post__info">
                    <div class="post__author">
                        <div class="post__author__photo-holder">
                            <img class="post__author__photo" src="https://placehold.it/200x200" alt="">
                        </div>
                        <a class="post__author__name divider-triangle" href="#">Tom Howard</a>
                        <p class="post__author__detail">Designer</p>
                    </div>
                    <p class="post__date divider-triangle">October 17, 2013</p>
                </div>
                <div class="post__description">
                    <a href="single-post.html">
                        <h2 class="post__title">Nunc bibendum mattis fringilla. In hac habitasse platea dictumst.</h2>
                    </a>
                    <div class="post__image">
                        <img src="https://placehold.it/1260x524" alt="">
                    </div>
                    <p class="post__text">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris dignissim pretium orci, sed vehicula felis viverra a. Nunc vel blandit urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    <a class="post__more link-highlight" href="single-post.html">More <i class="icon-circle icon-circle--small fa fa-arrow-right"></i></a>
                </div>
            </article>
            <!-- End Post preview item -->
            <div class="divider-simple"></div>
            <!-- Post preview item -->
            <article class="post post--preview-info">
                <div class="post__info">
                    <div class="post__author">
                        <div class="post__author__photo-holder">
                            <img class="post__author__photo" src="https://placehold.it/200x200" alt="">
                        </div>
                        <a class="post__author__name divider-triangle" href="#">Henry Summers</a>
                        <p class="post__author__detail">Manager</p>
                    </div>
                    <p class="post__date divider-triangle">October 10, 2013</p>
                </div>
                <div class="post__description">
                    <a href="single-post.html">
                        <h2 class="post__title">Integer vitae imperdiet erat. Quisque sed dui at metus pretium elementum ac eu tellus.</h2>
                    </a>
                    <div class="post__image">
                        <img src="https://placehold.it/1260x524" alt="">
                    </div>
                    <p class="post__text">Nunc erat massa, commodo in aliquam non, tempus a felis. Sed tempor justo sed risus dictum consequat. Vivamus tincidunt scelerisque laoreet. Quisque gravida nibh eu quam convallis tincidunt. Sed vel sapien dolor. Etiam egestas posuere facilisis. Nunc vestibulum cursus ante non euismod. Praesent vitae velit ac elit luctus tempor. Fusce eget feugiat justo.</p>
                    <a class="post__more link-highlight" href="single-post.html">More <i class="icon-circle icon-circle--small fa fa-arrow-right"></i></a>
                </div>
            </article>
            <!-- End Post preview item -->
            <!-- Pagination -->
            <div class="pagination">
                <a class="pagination__item pagination__item--previous pagination__item--disabled" href="#"></a>
                <a class="pagination__item pagination__item--active" href="#">1</a>
                <a class="pagination__item hidden-xs hidden-sm" href="#">2</a>
                <a class="pagination__item hidden-xs hidden-sm" href="#">3</a>
                <a class="pagination__item pagination__item--etc" href="#">...</a>
                <a class="pagination__item hidden-xs hidden-sm" href="#">10</a>
                <a class="pagination__item hidden-xs hidden-sm" href="#">11</a>
                <a class="pagination__item">12</a>
                <a class="pagination__item pagination__item--next" href="#"></a>
            </div>
            <!-- End Pagination -->
        </div>
        <!-- End Posts preview -->
        <!-- Begin Sidebar-->
        <aside class="col-sm-4">
            <div class="sidebar">
                <!-- Search form-->
                <h3 class="bar-title">Search:</h3>
                <form class="search-form" id="search-form" name="search-form" method="get" action="#">
                    <input id="input-search" name="input-search" type="search" placeholder="type your request" value="">
                    <button class="submit-button" id="search-submit-button" type="submit">
                        <i class="icon-circle icon-circle--thin fa fa-search"></i>
                    </button>
                </form>
                <!-- End Search form-->
                <!-- Categories list -->
                <h3 class="bar-title">Categories:</h3>
                <ul class="categories-list">
                    <li><a class="categories-list__item" href="#">Lorem ipsum dolor sit amet</a></li>
                    <li><a class="categories-list__item" href="#">Donec elementum lectus</a></li>
                    <li><a class="categories-list__item" href="#">Nam suscipit nulla vitae leo</a></li>
                    <li><a class="categories-list__item" href="#">Fusce ornare dapibus</a></li>
                    <li><a class="categories-list__item" href="#">Duis tristique</a></li>
                </ul>
                <!-- End Categories list -->
                <!-- Popular post -->
                <div class="popular-item">
                    <h3 class="decorative-lines decorated-title-margin--sm text-center"><span class="decorated-title">Popular post</span></h3>
                    <p class="popular-item__date">December 01, 2013</p>
                    <a class="popular-item__description" href="single-post.html">
                        <div class="popular-item__image hover-effect">
                            <img src="http://placehold.it/560x280" alt="">
                        </div>
                        <div class="popular-item__title">Proin gravida dapibus metus, et pretium lorem accumsan suscipit. <i class="icon-circle icon-circle--small fa fa-arrow-right"></i></div>
                    </a>
                </div>
                <!-- End Popular post -->
                <!-- Tags -->
                <h3 class="bar-title">Tags:</h3>
                <ul class="tags">
                    <li><a class="tags__item" href="#">lorem ipsum</a></li>
                    <li><a class="tags__item" href="#">consectetur</a></li>
                    <li><a class="tags__item" href="#">gravida</a></li>
                    <li><a class="tags__item" href="#">adipiscing</a></li>
                    <li><a class="tags__item" href="#">nunc ante</a></li>
                    <li><a class="tags__item" href="#">dapibus nec</a></li>
                    <li><a class="tags__item" href="#">commodo nec</a></li>
                    <li><a class="tags__item" href="#">quis justo</a></li>
                    <li><a class="tags__item" href="#">gravida</a></li>
                    <li><a class="tags__item" href="#">lorem ipsum</a></li>
                    <li><a class="tags__item" href="#">consectetur</a></li>
                    <li><a class="tags__item" href="#">adipiscing</a></li>
                    <li><a class="tags__item" href="#">nunc ante</a></li>
                    <li><a class="tags__item" href="#">dapibus nec</a></li>
                    <li><a class="tags__item" href="#">commodo nec</a></li>
                    <li><a class="tags__item" href="#">quis justo</a></li>
                </ul>
                <!-- End Tags -->
                <!-- Accordion widget -->
                <h3 class="bar-title">Accordion widget:</h3>
                <div class="panel-group accordion" id="accordion">
                    <!-- Accordion item -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <span class="marker"></span>
                                    Article title goes here
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse in" id="collapseOne">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet quam augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </div>
                        </div>
                    </div>
                    <!-- End accordion item -->
                    <!-- Accordion item -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    <span class="marker"></span>
                                    Article title goes here
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapseTwo">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet quam augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </div>
                        </div>
                    </div>
                    <!-- End accordion item -->
                    <!-- Accordion item -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    <span class="marker"></span>
                                    Article title goes here
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapseThree">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet quam augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </div>
                        </div>
                    </div>
                    <!-- End accordion item -->
                    <!-- Accordion item -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    <span class="marker"></span>
                                    Article title goes here
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapseFour">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet quam augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </div>
                        </div>
                    </div>
                    <!-- End accordion item -->
                </div>
                <!-- End Accordion widget-->
                <!-- Flickr stream -->
                <h3 class="bar-title">Flickr stream:</h3>
                <ul class="flickr" id="flickr2"></ul>
                <!-- End Flickr stream -->
            </div>
        </aside>
        <!-- End Sidebar-->
    </div>
    <!-- End row -->
</section>
<!-- End main content -->
