
@{
    ViewData["Title"] = "BlogStyle2Full";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page title -->
<div class="page-title-wrapper blog-title-wrapper">
    <div class="pattern-dark-wrapper">
        <div class="container">
            <h2 class="page-title page-title-margin">Appic<br><span class="page-title-main">Blog</span></h2>
            <!-- Circle button -->
            <div class="circle-button-wrapper">
                <div class="circle-button">
                    <h4 class="circle-button__title">download <br>app<i class="icon-circle icon-circle--small fa fa-arrow-right"></i></h4>
                    <a class="circle-button-second" href="#">
                        <h4 class="circle-button__title">download <br>app<i class="icon-circle icon-circle--small fa fa-arrow-right"></i></h4>
                    </a>
                </div>
            </div>
            <!-- End Circle button -->

        </div>
    </div>
</div>
<!-- End Page title -->
<!-- Begin main content -->
<section class="container">
    <h2 class="hidden-title">Blog style 2</h2>
    <div class="">
        <!-- Begin Posts preview-->
        <div class="col-sm-12">
            <!-- Post preview item -->
            <article class="post post--preview">
                <div class="post__info">
                    <p class="post__date">February 26<br />2014</p>
                    <div class="divider-simple"></div>
                    <a class="post__comments" href="single-post.html#comments">235 comments<i class="fa fa-comments"></i></a>
                </div>
                <div class="post__description">
                    <div class="post__image post__image--full">
                        <img src="http://placehold.it/1240x680" alt="">
                    </div>
                    <a href="single-post.html">
                        <h2 class="post__title">Proin gravida dapibus metus, et pretium lorem accumsan suscipit.</h2>
                    </a>
                    <p class="post__text">Maecenas in purus sit amet nisl condimentum venenatis. Morbi fringilla imperdiet nisi, a rhoncus eros iaculis sed. Nulla eget libero eros, vitae fringilla nisi. In hac habitasse platea dictumst.  Suspendisse viverra velit eu ante tristique adipiscing mollis sapien lobortis. Quisque gravida scelerisque vehicula.<a class="post__more" href="single-post.html"><i class="icon-circle icon-circle--small fa fa-arrow-right"></i></a></p>
                </div>
            </article>
            <!-- End Post preview item -->

            <div class="divider-simple"></div>
            <!-- Post preview item -->
            <article class="post post--preview">
                <div class="post__info">
                    <p class="post__date">February 23<br />2014</p>
                    <div class="divider-simple"></div>
                    <a class="post__comments" href="single-post.html#comments">15 comments <i class="fa fa-comments"></i></a>
                </div>
                <div class="post__description">
                    <div class="post__image post__image--full">
                        <img src="http://placehold.it/1240x680" alt="">
                    </div>
                    <a href="single-post.html">
                        <h2 class="post__title">Curabitur quis porta dui.</h2>
                    </a>
                    <p class="post__text">Maecenas in purus sit amet nisl condimentum venenatis. Morbi fringilla imperdiet nisi, a rhoncus eros iaculis sed. Nulla eget libero eros, vitae fringilla nisi. In hac habitasse platea dictumst.  Suspendisse viverra velit eu ante tristique adipiscing mollis sapien lobortis. Quisque gravida scelerisque vehicula.<a class="post__more" href="single-post.html"><i class="icon-circle icon-circle--small fa fa-arrow-right"></i></a></p>
                </div>
            </article>
            <!-- End Post preview item -->

            <div class="divider-simple"></div>
            <!-- Post preview item -->
            <article class="post post--preview">
                <div class="post__info">
                    <p class="post__date">Janruary 30<br />2014</p>
                    <div class="divider-simple"></div>
                    <a class="post__comments" href="single-post.html#comments">0 comments <i class="fa fa-comments"></i></a>
                </div>
                <div class="post__description">
                    <div class="post__image post__image--full">
                        <img src="http://placehold.it/1240x680" alt="">
                    </div>
                    <a href="single-post.html">
                        <h2 class="post__title">In luctus sollicitudin pellentesque. Integer sit amet tortor diam.</h2>
                    </a>
                    <p class="post__text">Nam mollis lectus sed libero hendrerit in mattis magna gravida. Aenean nisi elit, suscipit vitae tincidunt id, varius a diam. Nulla est est, ullamcorper vitae mattis eu, congue quis sem. Vestibulum fringilla arcu ac nunc gravida a tincidunt diam condimentum. Aliquam pretium nisl vitae orci dictum cursus. Donec elementum lorem eget augue pulvinar a laoreet diam luctus. Sed ac mauris sed libero volutpat vestibulum non vitae urna. Aliquam vitae odio lectus.<a class="post__more" href="single-post.html"><i class="icon-circle icon-circle--small fa fa-arrow-right"></i></a></p>
                </div>
            </article>
            <!-- End Post preview item -->

            <div class="divider-simple"></div>
            <!-- Post preview item -->
            <article class="post post--preview">
                <div class="post__info">
                    <p class="post__date">Janruary 16<br />2014</p>
                    <div class="divider-simple"></div>
                    <a class="post__comments" href="single-post.html#comments">120 comments <i class="fa fa-comments"></i></a>
                </div>
                <div class="post__description">
                    <div class="post__image post__image--full">
                        <img src="http://placehold.it/1240x680" alt="">
                    </div>
                    <a href="single-post.html">
                        <h2 class="post__title">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.</h2>
                    </a>
                    <p class="post__text">Nam mollis lectus sed libero hendrerit in mattis magna gravida. Aenean nisi elit, suscipit vitae tincidunt id, varius a diam. Nulla est est, ullamcorper vitae mattis eu, congue quis sem. Vestibulum fringilla arcu ac nunc gravida a tincidunt diam condimentum. Aliquam pretium nisl vitae orci dictum cursus. Donec elementum lorem eget augue pulvinar a laoreet diam luctus. Sed ac mauris sed libero volutpat vestibulum non vitae urna. Aliquam vitae odio lectus.<a class="post__more" href="single-post.html"><i class="icon-circle icon-circle--small fa fa-arrow-right"></i></a></p>
                </div>
            </article>
            <!-- End Post preview item -->

            <div class="divider-simple"></div>
            <!-- Post preview item -->
            <article class="post post--preview">
                <div class="post__info">
                    <p class="post__date">Janruary 02<br />2014</p>
                    <div class="divider-simple"></div>
                    <a class="post__comments" href="single-post.html#comments">50 comments <i class="fa fa-comments"></i></a>
                </div>
                <div class="post__description">
                    <div class="post__image post__image--full">
                        <img src="http://placehold.it/1240x680" alt="">
                    </div>
                    <a href="single-post.html">
                        <h2 class="post__title">Duis pretium adipiscing arcu, nec commodo lectus aliquet vitae.</h2>
                    </a>
                    <p class="post__text">Aliquam bibendum enim nunc, vitae pretium justo. Donec urna neque, sollicitudin pretium scelerisque at, hendrerit consectetur dui. Vivamus ut libero metus. Curabitur rhoncus ornare enim, ac mollis diam auctor non. Curabitur facilisis interdum sapien tincidunt rutrum.<a class="post__more" href="single-post.html"><i class="icon-circle icon-circle--small fa fa-arrow-right"></i></a></p>
                </div>
            </article>
            <!-- End Post preview item -->
            <!-- Pager -->
            <div class="pager">
                <a class="pager__item pager__item--previous pager__item--disabled" href="#">Prev</a>
                <a class="pager__item pager__item--next" href="#">Next</a>
            </div>
            <!-- End Pager -->
        </div>
        <!-- End Posts preview -->
    </div>
    <!-- End row -->
</section>
<!-- End main content -->
